.root {
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    text-align: center;
}
ul {
    padding: 0;
    margin: 0;
}
button {
    cursor: pointer;
    background-color: bisque;
}
.buy-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(34, 122, 223);
    padding: 10px;
    width: 65%;
    border-radius: 10px;
}

.buy-list__add {
    text-align: center;
    margin-bottom: 15px;
}

.buy-list__save {
    display: flex;
    align-items: center;
    justify-content: center;
}

.save-btn {
    margin-left: 5px;
}

.input-item {
    padding: 2.4px 2px;
}

.product-list li {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(14, 11, 214);
}

.product-item__text {
    display: block;
    width: 65%;
    font-weight: 600;
    color: rgba(218, 241, 10, 0.938);
}

.btn-edit {
    margin-left: 5px;
}
.input-edit {
    display: block;
}
.hide {
    display: none;
}

.product-list .done {
    text-decoration: line-through;
    background-color: green;
}